.menu {
    display: flex;
    list-style: none;
}

.menuItem {
    margin-right: 32px;
    padding: 8px 16px;
    border-width: 0;
    border-bottom-width: 3px;
    border-style: solid;
    border-color: transparent;
}

.menuItem:hover {
    border-color: orange;
    color: orange;
    cursor: pointer;
}

.menuItem:hover:last-child {
    border: none;
}

.menuItem:last-child a {
    background-color: orange;
    padding: 8px 16px;
    color: #fff;
}

.menuItem:last-child a:hover {
    background-color: #fff;
    padding: 8px 16px;
    color: orange;
    border-width: 3px;
    border-style: solid;
    border-color: orange;
}

