footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6rem 16rem;
    background-color: #3C3C3C;
    width: 100%;
}

footer div {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer div h2 {
    color: #fefefe;
    margin-bottom: 1.5rem;
}

footer div ul {
    color: #eeeeee;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer div ul li {
    margin-bottom: 1rem;
}